.gcard{
    display: inline-block;
}
.div1{
    /* border: 2px solid red; */
    display: inline-block;
    margin: 10px 20px;

}
.div2{
    /* border: 2px solid red; */
    display: inline-block;
    margin: 10px 20px;

}

.grphh1{
    background-color: white;
}
.grphh2{
    background-color: white;
}